<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deep Pool AI</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slides.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
  <div id="backgroundImage">
    <img src="{{ url_for('static', filename='images/LOGO_RemoveBG.png') }}">
  </div>

  <header>
    <nav>
      <div class="logo">
        <img src="{{ url_for('static', filename='images/LOGO_RemoveBG.png') }}" alt="Logo">
      </div>
      <a href="{{ url_for('home') }}">Video Demo</a>
      <a href="{{ url_for('livecamera') }}">Live Camera</a>
      
      <a href="login_2.html">Login</a>
    </nav>
  </header>

    <div class="slider">
    <div class="list">
        <div class="item">
            <img src="{{ url_for('static', filename='images/img_4.jpg') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='images/img_2.jpg') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='images/img_3.jpg') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='images/img_1.jpg') }}" alt="">
        </div>
        <div class="item">
            <img src="{{ url_for('static', filename='images/img_5.jpg') }}" alt="">
        </div>
    </div>
    <div class="buttons">
        <button id="prev">&lt;</button>
        <button id="next">&gt;</button>
    </div>
    <ul class="dots">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
  </div>

<br>
<br>



<center>
  <div class="box-container">
    <div class="box">
      <img src="{{ url_for('static', filename='images/icon1.png') }}" alt="Icon 1">
      <h3>Safer Swimming Pools</h3>
      <p>Toddlers and Adults can enjoy a safer swimming pool with Deep Pool AI's amazing drowning detection capability </p>
    </div>
    <div class="box">
      <img src="{{ url_for('static', filename='images/icon2.png') }}" alt="Icon 2">
      <h3>24/7 Safety Monitoring </h3>
      <p>Deep Pool AI doesn't get tired like a regular human lifeguard. Just like a swim at the early morning or late evenings, it has got you covered!</p>
    </div>
    <div class="box">
      <img src="{{ url_for('static', filename='images/icon3.png') }}" alt="Icon 3">
      <h3>Rapid Response</h3>
      <p>With an average rate of 2.7 frames per Second speed of performance, it detects any chances of drowning rapidly and instantly for a live camera</p>
    </div>
    <div class="box">
      <img src="{{ url_for('static', filename='images/icon4.png') }}" alt="Icon 4">
      <h3>Lifeguard Alerts</h3>
      <p>Immediately Notifies Lifeguards of any possible drowning scenarios so any Lifeguard in the vicinity can jump to rescue the victim drowning</p>
    </div>
    <div class="box">
      <img src="{{ url_for('static', filename='images/icon5.png') }}" alt="Icon 5">
      <h3>Live Camera Surveillance</h3>
      <p>Allows seamless integration with live underwater cameras in swimming pool for enhanced real-time water safety for swimmers </p>
    </div>
  </div>
</center>


<center>
  <div id="about-us" class="about-us">
    <h2>Why do you need Deep Pool AI?</h2>
    <br>
    <p style="text-align: justify;">This proposed project introduces a smart system designed to keep swimming pools safer by quickly detecting potential drowning incidents. By using advanced technologies like computer vision and deep learning, the system analyzes video footage from pool cameras in real-time. It starts by spotting objects in the pool and then focuses on understanding people's activities.
      If there's only one person in the video, the system uses a special learning model to figure out if they are swimming normally or if there's a risk of drowning. For cases where more than one person is seen, the system uses clever logic to decide if there's any unusual situation, like someone being too close to another person.
    The project ensures that the information is shown immediately on the screen, including any potential drowning situations. Users can also interact with the system by stopping the video whenever they want. An alert system that can quickly inform lifeguards or others if there's a possible drowning is present. This smart system is all about using technology to make swimming pools safer and prevent accidents.<p>
     
    <p style="text-align: justify;">Drowning has a centuries-long history, with records demonstrating its frequency and the ongoing fight to lessen its effects. As communities evolved, so did efforts to adopt basic safety precautions. Despite these advances,
       drownings continued to haunt society. The onset of the industrial age saw greater urbanization and the proliferation of swimming pools, highlighting the importance of good drowning prevention techniques.
      The acute health effects of drowning in toddlers are significant and life-threatening. Toddlers, with their limited swimming abilities and immature motor skills, are especially vulnerable to the immediate risk of death associated with 
      drowning. Survivors of such situations may face a variety of secondary health difficulties, including respiratory problems, pneumonia, and neurological consequences.
      The long-term health consequences are similarly troubling, with prolonged oxygen deprivation potentially leading to permanent cerebral damage. These deficits can have a major influence on cognitive and physical function. 
      </p>
      <p style="text-align: justify;">Furthermore, drowning accidents may cause delays in psychomotor development, limiting a toddler's capacity to meet critical developmental milestones. The simultaneous hazard of immediate mortality and long-term health consequences emphasizes the crucial significance of preventative ‎actions and increased monitoring in aquatic environments for child safety.‎
      The aftermath of a drowning occurrence can cause long-term trauma for children, impacting their emotional and psychological well-being. Survivors may have a persistent fear of water, which can lead to increased anxiety and reluctance to participate in water-related activities. The stress may extend to ‎the realm of dreams, as children may have nightmares and flashbacks about ‎their horrific drowning experience, further impairing their emotional ‎stability.‎
      Simultaneously, the consequences of a drowning incident resonate through the parents, causing significant distress. Parents frequently struggle with excessive emotions of guilt and self-blame, questioning their ability to provide a safe environment for their children. Witnessing or responding to a ‎drowning occurrence can cause long-term mental trauma for parents and ‎carers. ‎
      This dual narrative of trauma, which affects both the toddler and their caregivers, emphasises the importance of comprehensive support networks and preventive actions to reduce the psychological burden associated with drowning occurrences in toddlers.
      </p> 
      <!-- More content -->
  </div>
</center>



<!-- Add more sections as needed -->
<script src="{{ url_for('static', filename='js/slides.js') }}"></script>
<footer>
  <div id="contact" class="contact-container">
    <div class="column column-left">
      <h3>Contact Information</h3>
      <h4>Manager</h4>
      <p>Email: contact@example.com</p>
      <p>Phone: +123 456 789</p>
      <p>Fax: +123 456 789</p>
      <h4>Sales Advocate</h4>
      <p>Email: contact@example.com</p>
      <p>Phone: +123 456 789</p>
      <p>Fax: +123 456 789</p>
    </div>
    <div class="column column-right">
      <h3>Office Address</h3>
      <p>123 Metropolitan Street, Suite 567</p>
      <p>City Center, Downtown</p>
      <p>Country of Excellence, Zip Code: 12345-6789</p>
      <br>
      <h3>Main Branch Address</h3>
      <p>123 Metropolitan Street, Suite 567</p>
      <p>City Center, Downtown</p>
      <p>Country of Excellence, Zip Code: 12345-6789</p>
    </div>
  </div>
  <h2>&copy; Deep Pool AI - AI based Lifeguard Assistance. All rights reserved.</h2>
</footer>
</body>
</html>
